{% extends 'navigation.html' %}
{% block title %}Password Succes{% endblock %}
{% block content %}
<div class="container d-flex flex-column">
	<div class="row align-items-center justify-content-center min-vh-100">
	  <div class="col-12 col-md-8 col-lg-4">
		<div class="card shadow-sm">
		  <div class="card-body">
			<div class="mb-4">
			  <h5>Mail Sent</h5>
			  <p class="mb-2">Your password has been successfully changed
			  </p>
			</div>	
			  <div class="mb-3 d-grid">
				<a class="btn btn-primary" href="{% url 'login' %}">
				   Login
                </a>
			  </div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
{% endblock %}